#content {
    margin: auto;
    max-width: 60%;
    text-align: center;
    background-color: #7cdc94e0;
    
}

#content::after {
    content: "";
    background: url(../images/background.jpg);
    background-size: 1700px 900px;
    opacity: 0.3;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
}

ul {
    list-style-type: none;
}